:root {
    --bs-secondary: #eaeaea;
    --bs-secondary-rgb: 234, 234, 234;
    --bs-info: #8edafc;
    --bs-info-rgb: 142, 218, 252;

}

.avatar-width {
    width: 50px;
}

i {
    color: #b1b1b1;
    font-size: 18px;
}

i:hover {
    color: #8b8b8b;
}

.notification-bell {
    color: var(--bs-info);
}

.notification-bell:hover {
    color: var(--bs-info);
}

.my-fs-7 {
    font-size: .8rem;
}

.cursor-pointer {
    cursor: pointer;
}

.my-bg-box-messages {
    background-image: url("../img/mine.jpg");
}

.bg-container {
    background: linear-gradient(to bottom, #009688 0% ,#009688 14% ,#d9dbd4 14% ,#d9dbd4 100%);
}

.message {
    border-radius: 10px;
    padding: 10px 8px;
    width: 300px;
    margin: 20px 0;
}

.message-sent {
    background-color: #d5f9ba;
}

.message-received {
    background-color: #ffffff;
}

.message > p {
    margin: 0;
    padding: 5px 0 0 0;
    text-align: end;
    font-size: .7rem;
    color: #8b8b8b;
}